body {
	background-color: #336a4b;
	text-align: center;
}

p {
	color: white;
	font-weight: bold;
	font-family: Arial;
	font-size: 24px
}

img {
	max-width: 40%;
	height: auto;
}

a:link {
	color: yellow;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: pink;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
}