<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Mobility Project</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <img src="http://mobilityproject.pl/index_files/logo.jpg"></center>
        <br>

        <form action="greet" method="post">
            <h1 style="font-size: 36px"> Mobility Project </h1>
            <p><br>Prowadzimy serwis telefonów i urządzeń elektronicznych 24/7 w Markach i okolicach.<br>
                        <br>Wymiana ekranów, baterii, głośników, portów ładowania, przyśpieszanie i otymalizacja komputerów.<br>
                        <br>Zapraszamy codziennie 😄
                        <br>Mobility Project
                        <br>tel. 510 743 328
                        <br>mobility.project.warsaw@gmail.com
                        <br><a href="https://allegro.pl/uzytkownik/serfus1">Nasze aukcje</a>
            </p>
            <center><input type="submit" value="GREET" id="greet"></center>
        </form>
    </body>
</html>
